* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f7f4a7;
}

h1,
h2 {
  text-align: center;
  color: #e71e4a;
}

img {
  width: 400px;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 20px;
}

nav {
  display: flex;
}

.nav-elem {
  flex: 1;
  width: 300px;
  height: 60px;
  background-color: green;
  text-align: center;
  border-radius: 12px;
  margin: 20px;
}

a {
  color: #f7f4a7;
  text-decoration: none;
}

footer {
  background-color: #e71e4a;
  padding: 20px;
  color: #f7f4a7;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
}

/* Other pages */

.Return-Home {
  font-family: Verdana, sans-serif;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}
