@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #edf2f8;
    line-height: 1.7;
    font-size: 13px;
}

.main-header {
    background-color: #181818;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.main-header img {
    height: 60px;
    width: auto;
}

.main-header p {
    color: #edf2f8;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.testimonials   {
    max-width: 1440px;
    margin: 60px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card__header h3 {
    font-size: 22px;
}

.card__header p {
    font-size: 15px;
    opacity: 80%;
}

.card__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #edf2f8;
    margin-right: 10px;
}

.card__lead {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}

.card__quote {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    opacity: 70%;
}

.card--spike {
    background-color: #0A75B5;
    color: #fff;
    background-image: url(./imgs/swordfish.svg);
    background-repeat: no-repeat;
    background-position: -120px 60px;
}

.card--jet {
    background-color: #00A169;
    color: #fff;
    background-image: url(./imgs/bebop.svg);
    background-repeat: no-repeat;
    background-position: -40px 30px;
}

.card--faye {
    background-color: #d33237;
    color: #fff;
    background-image: url(./imgs/retdtail.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: bottom 20px right 20px;
}

.card--edward {
    background-color: #EBD04B;
}

.card__img--spike {
    border-color: #d33237;
}

.card__header--spike p{
    font-size: 18px;
}

.card__img--jet {
    border-color: #0A75B5;
}

.card__header--jet p {
    font-size: 18px;
}

.card__img--faye {
    border-color: #EBD04B;
}

.card__header--faye p {
    font-size: 18px;
}

.card__img--edward {
    border-color: #d33237;
}

.card__header--edward h3 {
    color: #181818;
}

.card__header--edward p {
    color: #181818;
    font-size: 18px;
}

.card__lead--edward,
.card__quote--edward {
    color: #181818;
}

.card--ein {
    background-color: #181818;
    color: #fff;
    background-image: url(./imgs/redtail.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#spike {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#faye {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#edward {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#jet {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

#ein {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

footer {
    background-color: #181818;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer p {
    color: #edf2f8;
    font-size: 15px;
    font-weight: bold;
}

@media(max-width: 768px) {
    .testimonials {
        grid-template-columns: 1fr;
        width: 100%;
    }

    #spike {
        grid-column: 1;
        grid-row: 1 / 2;
    }
    
    #faye {
        grid-column: 1;
        grid-row: 2 / 3;
    }
    
    #edward {
        grid-column: 1;
        grid-row: 5 / 6;
    }
    
    #ein {
        grid-column: 1;
        grid-row: 3 / 4;
    }
    
    #jet {
        grid-column: 1;
        grid-row: 4 / 5;
    }  
};