@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700;800;900&family=Rampart+One&display=swap");

* {
  font-family: "Prompt", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #c24f52;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #c24f52;
  padding: 10px 100px;
}

.logo__title {
  font-family: "Rampart One", sans-serif;
  color: #0f1523;
}

.logo__subtitle {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  color: #0f1523;
}

.game {
  background-color: #0f1523;
  max-width: 1440px;
  margin: 20px 100px;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.25fr 1fr 0.5fr;
  gap: 20px;
}

.game__rounds-selector {
  padding: 20px;
  background-color: white;
  grid-column: 1 / 5;
  grid-row: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.game__rounds-selector__title,
.game__rounds-selector__rounds,
.game__rounds-selector__btn {
  font-weight: 700;
}

.game__rounds-selector__rounds {
  border: 2px solid #0f1523;
  width: 60px;
  height: 35px;
  padding: 5px 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.game__rounds-selector__btn {
  border: 2px solid #0f1523;
  border-radius: 8px;
  width: 60px;
  height: 35px;
  padding: 5px 15px;
  background-color: white;
  cursor: pointer;
}

#restart-button {
  display: none;
}

.game__rounds-selector__btn:hover {
  color: white;
  background-color: #0f1523;
  cursor: pointer;
}

.game__controls {
  padding: 20px;
  background-color: white;
  grid-column: 1 / 3;
  grid-row: 2;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.game__controls__choices {
  height: 120px;
  width: 120px;
  border: 2px solid #0f1523;
  border-radius: 50%;
  background-color: white;
  font-size: 40px;
  cursor: pointer;
}

#rock {
  grid-column: 1 / 2;
  grid-row: 2;
}

#paper {
  grid-column: 2 / 3;
  grid-row: 1;
}

#scissors {
  grid-column: 3 / 4;
  grid-row: 2;
}

.game__instructions {
  padding: 20px;
  background-color: white;
  grid-column: 1 / 3;
  grid-row: 3;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  justify-items: end;
  align-content: center;
  font-size: 20px;
  gap: 0 20px;
}

.game__instructions__title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-weight: 700;
  justify-self: center;
  align-self: center;
}

#rock-label,
#paper-label,
#scissors-label {
  grid-column: 2 / 3;
}

#rock-instructions,
#rock-label {
  grid-row: 3 / 4;
}

#paper-instructions,
#paper-label {
  grid-row: 4 / 5;
}

#scissors-instructions,
#scissors-label {
  grid-row: 5 / 6;
}

#rock-label,
#paper-label,
#scissors-label {
  justify-self: start;
  align-self: center;
}

.game__animations {
  padding: 20px;
  background-color: white;
  grid-column: 3 / 5;
  grid-row: 2;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#rock,
#rock-instructions {
  transform: rotate(90deg) perspective(0) scaleX(-1);
}

#paper,
#scissors,
#paper-instructions,
#scissors-instructions {
  transform: rotate(-90deg) perspective(0);
}

.game__animations__player__name {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.game__animations__player__choice {
  font-size: 100px;
}

.game__score {
  padding: 20px;
  background-color: white;
  grid-column: 3 / 5;
  grid-row: 3;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(4, 0.5fr);
}

.game__score__title,
.game__score__element {
  justify-self: center;
  align-self: center;
  font-weight: 900;
  font-size: 40px;
}

.game__score__title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-weight: 700;
  font-size: 30px;
}

#usr-score {
  grid-column: 1 / 2;
  grid-row: 3 / 6;
}

#cpu-score {
  grid-column: 2 / 3;
  grid-row: 3 / 6;
}

.footer {
  background-color: #c24f52;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-weight: 600;
  color: #0f1523;
}

.footer a {
  text-decoration: none;
  color: #0f1523;
}

@media (max-width: 768px) {
  .game__rounds-selector {
    grid-column: 1;
    grid-row: 1;
  }

  .game__controls {
    grid-column: 1;
    grid-row: 2;
  }

  .game__animations {
    grid-column: 1;
    grid-row: 3;
  }

  .game__score {
    grid-column: 1;
    grid-row: 4;
  }

  .game__instructions {
    grid-column: 1;
    grid-row: 5;
  }
}
