@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
    font-family: sans-serif;
}

body {
    background-color: #415262;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    margin: 0px;
    padding: 20px 100px;
}

header {
    background-color: #0F1523;
    color: #415262;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.logo__img {
    flex-basis: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__img img {
    width: 100%;
    clip-path: circle();
}

.logo__text h1 {
    color: #C24F52;
    font-family: 'Rampart One', cursive;
    margin: 0px;
    padding: 0px;
}

.logo__text h4 {
    color: #f4f4f4;
    margin: 0px;
    padding: 0px;
}

.game_container {
    margin-left: 150px;
    margin-right: 150px;

}

.game {
    background-color: #f4f4f4;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game__settings {
    background-color: #415262;
    padding: 10px;
}

.game__settings__form {
    padding: 10px 0px;
    display: flex;
    background-color: #f4f4f4;
    gap: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.game__settings__form__label {
    font-weight: bold;
    font-size: 18px;

}

.game__settings__form__radio {
    cursor: pointer;
}

.game__settings__form__submit {
    cursor: pointer;
    text-decoration: none;
    color: #0F1523;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #0F1523;
    border-radius: 8px;
    background-color: transparent;
}

.game__main {
    display: flex;
    justify-content: space-around;
}

.game__main__controls-container {
    flex: 1;
    background-color: #415262;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.game__main__controls-container__keys {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: #f4f4f4;
    padding: 10px 0px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.game__main__controls-container__keys__button {
    cursor: pointer;
    font-size: 40px;
    border: 4px solid #0F1523;
    border-radius: 10px;
    width: 20%;
}

.game__main__controls-container__info {
    height: auto;
    background-color: #f4f4f4;
    padding: 20px 0px 20px 40px;
    border-radius: 20px;
}

.game__main__controls-container__info__title {
    color: #0F1523;
    font-weight: bold;
    padding-bottom: 20px;
}

.game__main__controls-container__info__key {
    color: #0F1523;
    font-size: 20px;
}

.game__main__results-container {
    flex: 1;
    background-color: #415262;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.game__main__results-container__animations {
    flex: 1;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.game__main__results-container__animations__left,
.game__main__results-container__animations__right {
    flex: 0.48;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    height: auto;
    border-radius: 10px;
}

.game__main__results-container__animations__left__usr, 
.game__main__results-container__animations__right__cpu {
    font-size: 60px;
    padding: 20px;
}

.game__main__results-container__results {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.game__main__results-container__results__top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__main__results-container__results__top__title {
    font-weight: bold;
    color: #f4f4f4;
}

.game__main__results-container__results__bottom {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
}

.game__main__results-container__results__usr,
.game__main__results-container__results__cpu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px 60px;
}

.game__main__results-container__results__usr__name,
.game__main__results-container__results__usr__score,
.game__main__results-container__results__cpu__name,
.game__main__results-container__results__cpu__score {
    font-weight: bold;
    font-size: 18px;
}

.game__reset-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.game__reset-container__button {
    cursor: pointer;
    text-decoration: none;
    color: #0F1523;
    font-weight: bolder;
    font-size: 24px;
    border: 3px solid #0F1523;
    border-radius: 10px;
    background-color: transparent;
}

.credits {
    display: flex;
    background-color: #0F1523;
    color: #f4f4f4;
    justify-content: center;
}