* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    color: #f4f4f4;
    background-color: #4a4a4a;
    padding-top: 2rem;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.gif-search {
    padding-top: 2rem;
    display: flex;
    gap: 0.5rem
}

.search-box,
.search-btn {
    height: 1.5rem;
}

.search-box {
    border: none;
    background-color: #f4f4f4;
    border-radius: 0.2rem;
    padding: 0.5rem;
    outline: none;
}

.search-btn {
    border: none;
    border-radius: 0.2rem;
    background-color: cornflowerblue;
    color: #f4f4f4;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    width: 4rem;
}

.gif-section {
    opacity: 0;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: opacity ease-in-out .5s;
}

.gif-container {
    height: 320px;
    width: auto;
    border-radius: 1rem;
}

.get-gif-button {
    border: none;
    border-radius: 0.2rem;
    background-color: cornflowerblue;
    color: #f4f4f4;
    font-size: 1rem;
    font-weight: bold;
    width: 140px;
    height: 40px;
    cursor: pointer;
}

.get-gif-button:hover {
    box-shadow: 0px 0px 10px #f4f4f4;
}

.loader {
    opacity: 0;
}